body {
  padding-right: calc(50% - 512px);
  padding-left: calc(50% - 512px);
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.site-main {
  font-family: Arial, Helvetica, sans-serif;
}

.site-main__list {
  margin-bottom: 80px;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  width: 1024px;
  padding: 0;

  list-style: none;
}

.menu__btn {
  padding: 0;

  font-size: 24px;
  text-transform: uppercase;
  text-decoration: underline;
  color: cadetblue;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.users {
  list-style: none;
}

.users__item,
.user__albums-item {
  position: relative;
}

.user__name::before,
.user__album-title::before {
  position: absolute;
  top: 0;
  left: -20px;

  font-size: 24px;

  content: ">";
}

.user__name--collapsed::before,
.user__album-title--collapsed::before {
  transform: rotate(90deg);
}

.user__name {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: normal;

  cursor: pointer;
}

.user__albums-list {
  display: none;

  list-style: none;
}

.user__name--collapsed + .user__albums-list {
  display: block;
}

.user__item {
  position: relative;
}

.user__album-title {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: normal;

  cursor: pointer;
}

.user__album-img-list {
  display: none;

  list-style: none;
}

.user__album-title--collapsed + .user__album-img-list {
  display: block;
}

.user__album-img-item {
  display: flex;
  align-items: top;
  margin-bottom: 10px;
}

.user__album-favorite-btn {
  margin-bottom: auto;

  cursor: pointer;
}

.user__album-favorite-icon {
  margin-right: 20px;

  fill: grey;
}

.user__album-favorite-checkbox:checked + .user__album-favorite-icon {
  fill: #ffd054;
}

.user__album-img-wrap {
  position: relative;

  margin: 0;
}

.user__album-img-wrap:hover::before {
  position: absolute;
  top: 0;
  left: 0;

  width: fit-content;
  height: fit-content;
  padding: 6px;

  content: attr(title);

  font-size: 20px;

  background-color: burlywood;
}

.user__album-img {
  display: block;
}
